[Desktop Entry]
Name=Tiny Beast Dictionary
Exec=tiny-beast-dictionary %U
Terminal=false
Icon=${SNAP}/icons/128x128.png
Type=Application
Comment=Online/Offline Free Dictionary App.