[Desktop Entry]
Name=Tiny Beast Dictionary
Exec=tiny-beast-dictionary %U
Terminal=false
Icon=${SNAP}/icons/128x128.png
Type=Application
Comment=A small but powerful dictionary app.
