.input {
  position: relative;

  input {
    width: -webkit-fill-available;
    padding-inline-start: 28px;

    &::placeholder {
      padding-inline-start: 2px;
    }
  }

  button {
    position: absolute;
    height: 100%;
    width: 28px;
    background: url(../assets/speaker.svg) no-repeat center;
    background-size: 20px !important;
    border-radius: inherit;

    &:active {
      background-color: rgba(var(--accent), 0.2) !important;
    }

    &:disabled {
      background-color: transparent;
    }
  }

  .searchErase {
    position: absolute;
    display: flex;
    height: 100%;
    top: 0;
    gap: 1px;

    button {
      position: relative;
      background-color: rgba(255, 255, 255, .03);
      background-repeat: no-repeat;
      background-position: center;

      &:first-of-type {
        background-size: 18px !important;
        background-image: url(../assets/search.svg);
      }

      &:last-of-type {
        background-image: url(../assets/erase.svg);
      }
    }
  }
}

$transHeight: calc(100vh - 122px);

.translation {
  position: relative;
  display: flex;
  font-family: 'Noto Naskh';
  word-break: break-all;
  line-height: 20px;
  min-height: $transHeight;
  justify-content: space-between;
  padding-block-start: 8px;
  padding-inline: 4px;
  margin-block-start: 1rem;
  margin-inline: 0;
  background-color: rgba(var(--primary), .3);
  border: 1px solid rgba(blueviolet, .3);
  border-radius: 5px;
  -webkit-user-select: text;
  user-select: text;

  .legend {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    font-size: 10px;
    top: -0.7rem;
    left: .1rem;
    padding-inline-start: .1rem;

    button {
      position: relative;
      height: 28px;
      min-width: 30px;
      bottom: 3px;
      margin-inline-end: .5rem;
      background: url(../assets/speaker.svg) no-repeat center;
      background-color: rgba(var(--secondary), .5);
      background-size: 20px;

      &:active {
        background-color: rgba(var(--secondary), .7) !important;
      }
    }
  }

  .transContainer {
    height: $transHeight;
    width: 100%;
    overflow: auto;
  }

  .onlineMode,
  .offlineMode {
    width: 100%;

    h3 {
      margin-block: .2rem;
    }

    h4 {
      margin-block: .25rem;
      color: rgb(var(--accent));
    }

    .definitions {
      padding: .5rem;
    }
  }

  .onlineMode {

    h3 {
      color: mediumvioletred;
    }

    h4 {
      margin-inline-start: .5rem;
    }

    .google,
    .examples {
      padding: .5rem;
    }

    .definitions strong {
      color: rgb(var(--accent));
    }

    .examples,
    .definitions {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }

    .examples div {
      margin-inline-start: .4rem;
    }
  }

  .offlineMode {
    :is(.pos, .senses) {
      padding-inline: 4px;
    }

    h3,
    h4 {
      color: rgb(var(--accent));
    }

    span {
      color: rgb(var(--sky));
    }

    p {
      margin-block: .5rem;
    }

    .senses {
      .examples {
        padding-inline: 4px;
        margin-bottom: 3px;
        border: 1px solid gray;
        border-radius: 10px;

        p {
          font-size: 14px;

          span {
            font-weight: 600;
          }
        }
      }

      hr {
        border: 1px dashed pink;
      }
    }
  }
}

[theme=light] {
  .legend button {
    background-color: rgba(var(--tertiary), .5);
  }
}