.input {
  position: relative;

  input {
    width: -webkit-fill-available;
    padding-inline-start: 28px;

    &::placeholder {
      padding-inline-start: 2px;
    }
  }

  button {
    position: absolute;
    height: 100%;
    width: 28px;
    background: url(../assets/speaker.svg) no-repeat center;
    background-size: 20px !important;
    border-radius: inherit;

    &:active {
      background-color: rgb(var(--secondary), .2);
    }

    &:disabled {
      background-color: transparent;
    }
  }

  .searchErase {
    position: absolute;
    display: flex;
    height: 100%;
    top: 0;
    gap: 1px;

    button {
      position: relative;
      background-color: rgba(255, 255, 255, .03);
      background-repeat: no-repeat;
      background-position: center;

      &:first-of-type {
        background-size: 18px !important;
        background-image: url(../assets/search.svg);
      }

      &:last-of-type {
        background-image: url(../assets/erase.svg);
      }
    }
  }
}

.translation {
  position: relative;
  display: flex;
  font-family: 'Noto Naskh';
  word-break: break-all;
  line-height: 20px;
  min-height: calc(100vh - 122px);
  justify-content: space-between;
  padding-block-start: 8px;
  padding-inline: 4px;
  margin-block-start: 1rem;
  margin-inline: 0;
  background-color: rgba(var(--primary), .3);
  border: 1px solid rgba(blueviolet, .3);
  border-radius: 5px;
  -webkit-user-select: text;
  user-select: text;

  legend {
    direction: ltr;
    position: absolute;
    font-size: 10px;
    width: 100%;
    top: -.7rem;
    left: 2px;
    background-color: transparent;
  }

  button {
    position: absolute;
    height: 28px;
    min-width: 30px;
    top: -3px;
    right: 10px;
    background: url(../assets/speaker.svg) no-repeat center;
    background-color: rgba(var(--secondary), .5);
    background-size: 20px;
    border-radius: 15px;

    &:active {
      background-color: rgba(var(--secondary), .7) !important;
    }
  }

  .offlineMode {
    width: 100%;

    :is(.pos, .senses) {
      padding-inline: 4px;
    }

    h3 {
      margin-block: 8px;
    }

    .senses {
      .examples {
        padding-inline: 4px;
        margin-bottom: 3px;
        border: 1px solid gray;
        border-radius: 10px;

        p {
          font-size: 14px;

          span {
            font-weight: 600;
          }
        }
      }

      hr {
        border: 1px dashed pink;
      }
    }
  }
}

[theme=light] {

  .input,
  .translation {
    button:active {
      background-color: rgb(var(--tertiary));
    }
  }
}