.addOrRemoveLangs {
  display: flex;
  flex-grow: 1;

  button {
    width: 50px;
    height: 30px;
    margin-block-start: 12px;
    margin-inline-end: 10px;
    border-radius: 9px;
    background: url(../../../assets/add.svg) left no-repeat, url(../../../assets/delete.svg) right no-repeat;
    background-size: 20px, 20px;
    background-position-x: 4px, 28px;
    background-color: rgb(28, 34, 28);
    transition: background-color .15s ease-in;
    filter: unset !important;

    &:hover {
      background-color: rgba(var(--deep-gray), .33) !important;
    }
  }

  .offlineDict {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    span {
      font-size: 10px;
      padding-inline-start: 3px;
      margin-block-end: 4px;
    }
  }
}