.App {
  min-height: 170px;
  padding: 1rem;
  color: white;
  background-color: rgb(0,0,0,0.5);
  border: 1px solid rgb(0, 0, 158);

  .nav {
    display: flex;
    width: 60%;
    margin: 0 auto 1rem;
    padding-left: 0px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #39A2DB;
    border-radius: 2rem;

    img {
      width: 20px;
      margin-inline-start: 2px;
    }

    @media (max-width: 768px) {
      width: 90%;
    }
  }

  .nav li {
    width: 50%;
    padding: .2rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
  }

  .nav li:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
  }

  .nav li:last-child {
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  }

  .nav li:hover {
    background: rgba(50, 224, 196, 0.15);
  }

  .nav li.active {
    background: #39A2DB;
  }

  .language-options {
    span:nth-of-type(2) {
      margin-inline-start: 2rem;
    }
  }

  &>* {
    width: 100%;
  }
}

.translation {
  font-family: 'PersianFont';
  word-wrap: break-word;
}