.App {
  position: relative;
  min-width: 270px;
  padding: 0 .3rem;

  .switches {
    display: flex;
    margin-block-end: 10px;

    .modeChanger {
      position: relative;
      width: 30px;
      height: 30px;
      right: -5px;
      background: url(assets/earth.svg) no-repeat center;
      background-size: 25px;
      border: unset;
      border-left: 1px groove #1ea7c6;
      border-bottom: 1px groove #1ea7c6;
      border-bottom-left-radius: 4px;
      transition: background-position .3s ease;

      &:hover {
        background-position: center -10%;
      }
    }
  }

  .version {
    position: absolute;
    bottom: 3px;
    right: 10px;
    font-size: 10px;
    text-decoration: underline;
  }
}