.App {
  height: 99vh;
  min-width: 270px;
  padding: 0 .3rem;
  color: white;

  .switches {
    display: flex;

    .languageOptions {
      display: flex;
      flex-grow: 1;

      :is(.to, .from) {
        display: flex;
        width: 0;
        flex-direction: column;
        flex-grow: 1;

        span {
          font-size: 10px;
          margin-inline-start: 4px;
        }
      }

      button {
        height: 30px;
        width: 30px;
        align-self: end;
        margin-inline: 4px;
        margin-bottom: 2px;
        background: url(assets/refresh.ico) no-repeat center;
        background-color: white;
        background-size: 20px;
        border-radius: 15px;
        border: 1px solid;
      }
    }

    .addOrRemoveLangs {
      display: flex;
      flex-grow: 1;

      button {
        width: 50px;
        height: 30px;
        margin-block-start: 12px;
        margin-inline-end: 10px;
        border-radius: 9px;
        background: url(assets/add.svg) left no-repeat, url(assets/delete.svg) right no-repeat;
        background-size: 20px, 20px;
        background-position-x: 4px, 28px;
        background-color: rgb(28, 34, 28);
        transition: background-color .3s ease-in;

        &:hover {
          background-color: var(--primary);
        }
      }

      .offlineDict {
        display: flex;
        flex-grow: 1;
        flex-direction: column;

        span {
          font-size: 10px;
        }
      }
    }

    :is(.languageOptions, .addOrRemoveLangs) {
      margin-block-end: 10px;
    }

    .modeChanger {
      position: relative;
      width: 30px;
      height: 30px;
      right: -5px;
      background: url(assets/online.svg) no-repeat center;
      background-size: 25px;
      border: unset;
      border-left: 1px groove #1ea7c6;
      border-bottom: 1px groove #1ea7c6;
      border-bottom-left-radius: 4px;
      transition: background-position .3s ease;

      &:hover {
        background-position: center -10%;
      }
    }
  }

  .input {
    position: relative;

    input {
      width: -webkit-fill-available;
      height: 20px;
      padding-inline-start: 28px;
    }

    button {
      position: absolute;
      height: 22px;
      width: 30px;
      top: 2px;
      background: url(assets/speaker_icon.svg) no-repeat center;
      background-color: transparent;
      background-size: 20px;
      border-radius: 6px;

      &:active {
        background-color: rgb(190, 194, 255);
      }

      &:disabled {
        background-color: transparent;
      }
    }
  }
}

fieldset {
  position: relative;
  display: flex;
  font-family: 'Noto Naskh';
  word-break: break-all;
  line-height: 20px;
  min-height: calc(100% - 115px);
  justify-content: space-between;
  padding-block-start: 8px;
  padding-inline: 4px;
  margin-block: 1rem;
  margin-inline: 0;
  background-color: rgba(166, 214, 240, 0.1);
  border: 1px solid rgb(63, 63, 117);
  border-radius: 5px;

  legend {
    direction: ltr;
    position: absolute;
    width: 100%;
    top: -.7rem;
    left: 2px;
    background-color: transparent;
    font-size: 10px;
  }

  button {
    position: absolute;
    height: 28px;
    min-width: 30px;
    top: -3px;
    right: 10px;
    background: url(assets/speaker_icon.svg) no-repeat center;
    background-color: white;
    background-size: 20px;
    border-radius: 15px;
    opacity: .7;

    &:active {
      background-color: rgb(190, 194, 255);
    }
  }

  .offlineMode {
    width: 100%;

    :is(.pos, .senses) {
      padding-inline: 4px;
    }

    h3 {
      margin-block: 8px;
    }

    .senses {
      .examples {
        padding-inline: 4px;
        margin-bottom: 3px;
        border: 1px solid gray;
        border-radius: 10px;

        p {
          font-size: 14px;

          span {
            font-weight: 600;
          }
        }
      }

      hr {
        border: 1px dashed pink;
      }
    }
  }
}