.App {
  height: 99vh;
  min-width: 270px;
  padding: 0 .5rem;
  color: white;
  background-color: rgb(0, 0, 0, 0.8);

  .nav {
    display: flex;
    margin: .1rem auto .5rem;
    padding-left: 0px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(67, 67, 226, 0.295);

    img {
      width: 20px;
      margin-inline-start: 2px;
    }
  }

  .nav li {
    width: 50%;
    padding: .2rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
  }

  .nav li:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    // border-bottom-left-radius: 2rem;
    // border-top-left-radius: 2rem;
  }

  // .nav li:last-child {
  //   border-bottom-right-radius: 2rem;
  //   border-top-right-radius: 2rem;
  // }

  .nav li:hover {
    background: rgba(50, 224, 196, 0.15);
  }

  .nav li.active {
    background: rgb(39, 39, 126);
  }

  .language-options {
    display: flex;
    margin-bottom: 10px;

    :is(.to, .from) {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      span {
        font-size: 10px;
        margin-inline-start: 4px;
      }
    }

    button {
      height: 30px;
      width: 30px;
      align-self: end;
      margin-inline: 4px;
      margin-bottom: 2px;
      background-color: white;
      background-image: url(assets/refresh.ico);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
      border-radius: 15px;
      border: 1px solid;
    }
  }

  .input {
    position: relative;

    input {
      width: 100%;
      padding-inline-start: 26px;
    }

    button {
      position: absolute;
      height: 22px;
      width: 30px;
      top: 2px;
      left: 0;
      opacity: .5;
      background-image: url(assets/speaker_icon.svg);
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
      border: unset;
    }
  }
}

fieldset {
  position: relative;
  display: flex;
  font-family: 'PersianFont';
  word-break: break-all;
  min-height: calc(100% - 150px);
  justify-content: space-between;
  padding-inline: 4px;
  margin-block: 0.8rem;
  margin-inline: 0;
  background-color: rgba(166, 214, 240, 0.1);
  border: 1px solid rgb(63, 63, 117);
  border-radius: 5px;

  legend {
    direction: ltr;
    position: absolute;
    display: flex;
    top: -.7rem;
    left: 2px;
    background-color: transparent;
    font-size: 10px;
  }

  button {
    height: 22px;
    min-width: 30px;
    background-image: url(assets/speaker_icon.svg);
    background-color: inherit;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    border: unset;
  }
}