@font-face {
  font-family: "Noto Naskh";
  src: local("Noto Naskh"),
    url("assets/fonts/Noto_Naskh_Arabic/NotoNaskhArabic-VariableFont_wght.ttf") format("truetype");
}

:root {
  --primary: 26, 64, 77;
  --secondary: 190, 194, 255;
  --deep-red: 78, 12, 12;
  --deep-gray: 54, 54, 54;
  --tertiary: 255, 228, 193;
  --warning: 255, 255, 0;
  --accent: 3, 88, 167;
  --red: 199, 18, 18;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  color: white;
  background-color: rgba(6, 14, 17, 0.733);
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  user-select: none;
  -moz-osx-font-smoothing: grayscale;
}

input,
select {
  height: 25px;
  background-color: rgba(var(--primary), .5);
  border-radius: 4px;
}

input,
button,
select {
  color: antiquewhite;
}

input {
  border: 1px solid transparent;

  &:focus {
    border: 1px solid rgb(var(--secondary), .2);
  }
}

button {
  background-color: unset;
  border: unset;
  cursor: pointer;
}

.glow-animation {
  overflow: hidden;

  &::after {
    position: absolute;
    background-color: rgb(255, 255, 255, .5);
    content: "";
    height: 2px;
    width: 100%;
    left: 0px;
    bottom: -20%;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.5);
  }

  &:hover::after {
    bottom: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

select {
  display: inline-flex;
  appearance: none;
  cursor: pointer;
  padding: 2px;
  border: 1px solid transparent;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDEyIDE2Ij4gIDxwYXRoIGZpbGw9IiMzOTNFNDgiIGQ9Ik0wLjIyMiw1LjYxMyBMNS40NTEsMC4yMjMgQzUuNzU2MjEyMDksLTAuMDc0MzYzMjMzMyA2LjI0Mjc4NzkxLC0wLjA3NDM2MzIzMzMgNi41NDgsMC4yMjMgTDExLjc3OCw1LjYxMyBDMTIuMTgsNi4wMjcgMTIuMDI1LDYuNjY3IDExLjQwNyw2LjY2NyBMMC41OTIsNi42NjcgQy0wLjAyNCw2LjY2NyAtMC4xOCw2LjAyNyAwLjIyMiw1LjYxMyBaIE0wLjU5Miw5LjMzMyBMMTEuNDA3LDkuMzMzIEMxMi4wMjUsOS4zMzMgMTIuMTgsOS45NzMgMTEuNzc3LDEwLjM4NyBMNi41NDcsMTUuNzc3IEM2LjI0MTkxMjU4LDE2LjA3MzcxNDMgNS43NTYwODc0MiwxNi4wNzM3MTQzIDUuNDUxLDE1Ljc3NyBMMC4yMjIsMTAuMzg3IEMtMC4xOCw5Ljk3MyAtMC4wMjQsOS4zMzMgMC41OTIsOS4zMzMgWiIvPjwvc3ZnPg==");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.62em auto, 100%;
  transition: all 0.3s;

  &:hover {
    border-color: #6e41bf;
  }
}

[theme=dark] {
  body {
    background-color: black;
  }

  input,
  select {
    background-color: rgb(var(--deep-gray), .5);
  }

  button {
    background-color: rgba(var(--deep-gray), .1) !important;
    filter: invert(90%);
  }

  .glow-animation:hover::after {
    background-color: black;
    box-shadow: 0px 0px 5px 1px black;
    transition-duration: 1000ms;
  }

  .modal-bg {
    background-color: rgb(31, 31, 31);
  }

  .modal {
    background-color: black;

    .modal-content div:last-of-type div:hover {
      background-color: rgb(var(--deep-gray), .5);
    }
  }

  fieldset {
    background-color: rgb(var(--deep-gray), .3);
  }
}

[theme=light] {
  --warning: 122, 66, 10;

  body {
    color: black;
    background-color: rgb(255, 255, 242);
  }

  button {
    background-color: rgba(var(--tertiary), .5);
  }

  input,
  select {
    background-color: rgba(var(--tertiary), .7);
    box-shadow: 0px 3px 4px 1px rgb(var(--tertiary));
  }

  input,
  button,
  select {
    color: black;
  }

  .glow-animation:hover::after {
    background-color: rgba(216, 99, 99, 0.37);
    box-shadow: 0px 0px 15px 1px rgb(199, 122, 122);
    transition-duration: 1000ms;
  }

  .modal-bg {
    background-color: rgba(129, 129, 129, 0.5);
  }

  .modal {
    background-color: rgba(var(--tertiary));

    .modal-header button {
      background-color: rgba(var(--tertiary), 1);
    }

    .modal-content {
      small {
        color: rgba(var(--primary), .8);
      }

      div:last-of-type div:hover {
        background-color: rgba(var(--primary), .1);
      }
    }

    .modal-actions button:hover {
      color: white;
      background-color: rgba(var(--deep-red), .9);
    }
  }

  fieldset {
    background-color: rgba(var(--tertiary), .8);
    box-shadow: inset 0px 3px 30px 10px rgb(255, 0, 0, .1);
    border: 1px solid transparent;
  }
}